<footer>
    <div class="foot">
        <div class="f-info">
            <div class="f-info-socials">
                <i class="fa-brands fa-square-instagram"></i>
                <i class="fa-brands fa-square-facebook"></i>
                <i class="fa-brands fa-square-linkedin"></i>
            </div>
            <div><b>Note:</b> This site is for demonstration purposes only and is not affiliated with the actual Oak and Stay company.</div>
            <div class="f-info-links">
                <a href="/privacy">Privacy</a>
                <a href="/Terms">Terms</a>
            </div>

            </div>
        </div>
    </div>
</footer>